@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Accueil";
}

<div>
    <div >
        <br />
        <img src="~/Content/img/Logo.svg" class="logo" />
    </div>
    
</div>

<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FrontVoyages")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-3">
            <label for="DateAller">Départ avant le:</label>
            <a> <input type="date" class="form-control" id="DepartureDate" name="departureDate" /> </a> <br />

        </div>

        <div class="form-group col-md-3">
            <label for="MaxPrice">Prix Max</label>
            <input class="form-control" type="number" id="maxprice" name="maxprice" />
        </div>

        <div class="form-group col-md-3">
            <label for="Destination">Destination</label>
            <input class="form-control" type="text" id="destination" name="search" />
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-info bigBtn"> Rechercher</button>
        </div>

    </form>
</div>

@{ if (Model.Count() != 0)
    {
        int top = 5; // top5 pour la premiere release
        if (Model.Count() <= top)
        {
            top = Model.Count - 1;
        }
     


        <div id="bestPrice" class="tabcontent">
            <h2>Nos meilleurs offres</h2>
            <div class="row">

                @{IEnumerable<BoVoyageMVC.Models.Voyage> topBestPrice = Model.OrderBy(x => x.UnitPublicPrice);


                    for (int i = 0; i < top; i++)
                    {
                        <div class="col-md-2">
                            <div class="card">
                                @{ if (topBestPrice.ElementAt(i).Destination.Images?.Count > 0)
                                    {

                                        <img src="data:@topBestPrice.ElementAt(i).Destination.Images.ElementAt(0).ContentType;base64,
                         @Convert.ToBase64String(topBestPrice.ElementAt(i).Destination.Images.ElementAt(0).Content)" alt="sejour de rêve" style="width:100%">
                                    }
                                }
                                <h4>@topBestPrice.ElementAt(i).Destination.Country</h4>
                                <h5>@topBestPrice.ElementAt(i).Destination.Region</h5>
                                <p class="price">@topBestPrice.ElementAt(i).UnitPublicPrice €</p>
                                <button>
                                    @Html.ActionLink("En Savoir plus", "Details", "FrontVoyages",
                                            new
                                            {region = topBestPrice.ElementAt(i).Destination.Region,country = topBestPrice.ElementAt(i).Destination.Country,id = topBestPrice.ElementAt(i).Id},
                                            new
                                            {@class = "neutral",/*@style = "float:right",*/@data = topBestPrice.ElementAt(i).Destination.Country})

                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div id="soon" class="tabcontent">
            <h2>Departs imminents</h2>
          
            <div class="row">
                @{IEnumerable<BoVoyageMVC.Models.Voyage> topSoon = Model.OrderBy(x => x.DepartureDate);

                

                    for (int i = 0; i < top; i++)
                    {
                        <div class="col-md-2">
                            <div class="card">
                                @{ if (topSoon.ElementAt(i).Destination.Images?.Count > 0)
                                    {

                                        <img src="data:@topSoon.ElementAt(i).Destination.Images.ElementAt(0).ContentType;base64,
                         @Convert.ToBase64String(topSoon.ElementAt(i).Destination.Images.ElementAt(0).Content)" alt="sejour de rêve" style="width:100%">
                                    }
                                }
                                <h3>@topSoon.ElementAt(i).DepartureDate.ToShortDateString()</h3>
                                <h4>@topSoon.ElementAt(i).Destination.Country</h4>
                                <h5>@topSoon.ElementAt(i).Destination.Region</h5>
                                <p class="price">@topBestPrice.ElementAt(i).UnitPublicPrice €</p>
                                <button>
                                    @Html.ActionLink("En Savoir plus", "Details", "FrontVoyages",
                                            new
                                            {region = topSoon.ElementAt(i).Destination.Region,country = topSoon.ElementAt(i).Destination.Country,id = topSoon.ElementAt(i).Id},
                                            new
                                            {@class = "neutral",/*@style = "float:right",*/@data = topSoon.ElementAt(i).Destination.Country})
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div id="popular" class="tabcontent">
            <h2>Destinations les plus populaires</h2>
            <div class="row">
                @{IEnumerable<BoVoyageMVC.Models.Voyage> topPopular = Model
                        .GroupBy(v => v.Destination.Country)
                  .OrderByDescending(x => x.Count())
                  .SelectMany(voy => voy).Take(5).ToList();
                    




                    for (int i = 0; i < top; i++)
                    {
                        <div class="col-md-2">
                            <div class="card">
                                @{ if (topPopular.ElementAt(i).Destination.Images?.Count > 0)
                                    {

                                        <img src="data:@topPopular.ElementAt(i).Destination.Images.ElementAt(0).ContentType;base64,
                         @Convert.ToBase64String(topPopular.ElementAt(i).Destination.Images.ElementAt(0).Content)" alt="sejour de rêve" style="width:100%">
                                    }
                                }
                                <h4>@topPopular.ElementAt(i).Destination.Country</h4>
                                <h5>@topPopular.ElementAt(i).Destination.Region</h5>
                                <p class="price">@topPopular.ElementAt(i).UnitPublicPrice €</p>
                                <button>
                                    @Html.ActionLink("En Savoir plus", "Details", "FrontVoyages",
                                            new
                                            {region = topPopular.ElementAt(i).Destination.Region,country = topPopular.ElementAt(i).Destination.Country,id = topPopular.ElementAt(i).Id},
                                            new
                                            {@class = "neutral",/*@style = "float:right",*/@data = topPopular.ElementAt(i).Destination.Country})
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    }
}
<script src="~/Scripts/jquery.datetimepicker.js">

    
</script>



