@model BoVoyageMVC.Models.Assurance

@{
    ViewBag.Title = "Supprimer agence";
}

<div class="detail">
    <h3>Etes vous sûr de vouloir supprimer</h3>
    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Montant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Montant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeAssurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeAssurance)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <div class="btn btn-info">
                    @Html.ActionLink("Retour", "Index")
                </div>
            </div>
        }
    </div>
    </div>