@model IEnumerable<BoVoyageMVC.Models.Assurance>

@{
    ViewBag.Title = "Assuraces";
}

<h2>Assurances</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Montant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAssurance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Montant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAssurance)
        </td>
        <td>
           <a href="@Url.Action("edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a> |
                <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a> |
                <a href="@Url.Action("delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
