@model BoVoyageMVC.Models.AgenceVoyage

@{
    ViewBag.Title = "Details";
}


<div class="detail">
    <div>
        <h2>@ViewBag.Title</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>

        <div class="btn btn-warning">
            @Html.ActionLink("Editer", "Edit", new { id = Model.Id })
        </div>
        <div class="btn btn-info">
            @Html.ActionLink("Retour", "Index")
        </div>
    </p>
</div>