@model BoVoyageMVC.Models.Destination

@{
    ViewBag.Title = "Détails de la destination";
}
<div class="detail">
    

    <div>
        <h2>Détails de la destination</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Continent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Continent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Region)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.Raw(Model.Description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id}, new { @class = "btn btn-info" }) 
        @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
    </p>
</div>