<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BoVoyage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agence Voyage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "AgenceVoyages")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "AgenceVoyages")">Lister</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destination <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Destinations")">Ajouter</a></li>
                            <li><a href="@Url.Action("Index", "Destinations")">Lister</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voyage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Voyages")">Ajouter</a></li>
                            <li><a href="@Url.Action("Index", "Voyages")">Lister</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assurance <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Assurances")">Ajouter</a></li>
                            <li><a href="@Url.Action("Index", "Assurances")">Lister</a></li>
                        </ul>
                    </li>

                    <li>
                        <form class="navbar-form navbar-left">
                            
                            <button type="submit" class="btn btn-default">Rechercher</button>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recherche <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Destination</a></li>
                            <li><a href="#">Date Aller</a></li>
                            <li><a href="#">Prix</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Top Voyage</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        <div id="PartialDisplay" class="container">
            @Html.Partial("_PartialDisplay")

        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BoVoyage MVC Groupe 2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
