@model BoVoyageMVC.Models.DossierReservation



<h3>Vous êtes sur d'annuler ce voyage ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voyage.Destination.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voyage.Destination.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtatDossier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtatDossier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmer" class="btn btn-danger" /> 
            @Html.ActionLink("Retour", "Index",null, new {@class="btn btn-info" })
        </div>
    }
</div>
