@model BoVoyageMVC.Models.Voyage

@{
    ViewBag.Title = "Suppression Voyage";
}

<div class="detail">
    <h3>Etes vous sûr de vouloir supprimer</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AgenceVoyage.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgenceVoyage.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Destination.Continent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destination.Continent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartureDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxCapacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxCapacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Margin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Margin)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <div class="btn btn-info">
                    @Html.ActionLink("Retour", "Index")
                </div>
            </div>
        }
    </div>
 </div>