@model IEnumerable<BoVoyageMVC.Models.DossierReservation>

@{
    ViewBag.Title = "Liste des réservations";
}

<h2>@ViewBag.Title</h2>


<table class="table container-fluid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FisrtName)
            @Html.DisplayNameFor(model => model.Client.LastName) du Client
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.Destination.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatDossier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FisrtName)
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voyage.Destination.Country)
            </td>
            <td>
                @item.Voyage.DepartureDate.ToShortDateString()
            </td>
            <td>
                @item.Voyage.ReturnDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatDossier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a href="@Url.Action("Details", "DossierReservations", new { id = item.Id })" class="btn btn-info">DETAILS</a>
                
                @if (item.EtatDossier == BoVoyageMVC.Models.EtatDossierReservation.EnAttente)
                {<a href="@Url.Action("Validate", "DossierReservations", new { id = item.Id })" class="btn btn-default">VALIDER</a>}
                @if (item.EtatDossier == BoVoyageMVC.Models.EtatDossierReservation.EnCours)
                {<a href="@Url.Action("Accept", "DossierReservations", new { id = item.Id })" class="btn btn-success">ACCEPTER</a>}
                @if (item.EtatDossier != BoVoyageMVC.Models.EtatDossierReservation.Annule &&
                     item.EtatDossier != BoVoyageMVC.Models.EtatDossierReservation.Clos)
                {<a href="@Url.Action("Cancel", "DossierReservations", new { id = item.Id })" class="btn btn-warning">ANNULER</a>}
                @if (item.EtatDossier == BoVoyageMVC.Models.EtatDossierReservation.Accepte)
                {<a href="@Url.Action("Close", "DossierReservations", new { id = item.Id })" class="btn btn-danger">CLOTURER</a>}

            </td>
        </tr>
    }

</table>
