@model IEnumerable<BoVoyageMVC.Models.DossierReservation>

@{
    ViewBag.Title = "Liste des réservations";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FisrtName)
            @Html.DisplayNameFor(model => model.Client.LastName) du Client
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.Destination.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatDossier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FisrtName)
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voyage.Destination.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voyage.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voyage.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatDossier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }, null)
                <a href="@Url.Action("Validate", "DossierReservations", new { id = item.Id })" class="btn btn-default">VALIDER</a>
                @*<a href=@Url.Action("Validate", "DossierReservation") action="@Url.Action("Validate", "DossierReservation")" id=item.Id method="post" >VALIDER</a> |*@

                @Html.ActionLink("ACCEPTER", "Accpet", new { id = item.Id }) |
                @Html.ActionLink("ANNULER", "Cancel", new { id = item.Id }) |
                @Html.ActionLink("CLOTURER", "Close", new { id = item.Id })
            </td>
        </tr>
    }

</table>
