@model BoVoyageMVC.Models.Voyage

@{
    ViewBag.Title = "Details";

    ViewBag.IdVoyage = Model.Id;
}



<div>
    <div class="detail">

        <h2>Voyage en @Model.Destination.Country</h2>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Destination.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destination.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Destination.Region)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Destination.Region)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </dt>

            <dd>
                @Model.DepartureDate.ToShortDateString()

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>
            <dd>
                @Model.ReturnDate.ToShortDateString()
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPublicPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPublicPrice)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Destination.Description)
            </dt>

            <dd>
                @Html.Raw(Model.Destination.Description)
            </dd>

        </dl>

        <div>
            @Html.ActionLink("Réserver", "Book", "Reservations", new { id = Model.Id }, new { @class = "btn btn-primary"})
            @Html.ActionLink("Retour à la Liste", "Index", "FrontVoyages", new { @class = "btn btn-default"})
        </div>
        <br />

        <div class="row">

            @if (Model.Destination.Images != null)
            {
                foreach (var picture in Model.Destination.Images)
                {
                    <div class="col-md-4">             
                        <img src="data:@picture.ContentType;base64,@Convert.ToBase64String(picture.Content)" class="detailPicture" />
                    </div>
                }
            }
        </div>

    </div>


</div>