@model BoVoyageMVC.Models.Voyage

@{
    ViewBag.Title = "Details";
    
    ViewBag.IdVoyage = Model.Id;
}

<h2>Details</h2>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPublicPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPublicPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Destination.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Description)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Retour à la Liste", "Index", new { @class = "btn btn-default", @style = "float:right" })
</p>
