@model BoVoyageMVC.Models.Voyage

@{
    ViewBag.Title = "Details";

    ViewBag.IdVoyage = Model.Id;
}


<h2>Details</h2>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPublicPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPublicPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Destination.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Destination.Description)
        </dd>

    </dl>

    <div class="row">
        @if (Model.Destination.Images != null)
        {
            foreach (var picture in Model.Destination.Images)
            {
                <div class="col-md-2">
                    <img src="data:@picture.ContentType;base64,@Convert.ToBase64String(picture.Content)" class="img-thumbnail" />
                </div>
            }
        }
    </div>
</div>


<div>
    @Html.ActionLink("Réserver", "Create", "Reservations", new { id = Model.Id }, new { @class = "btn btn-primary", @style = "float:right" })
    @Html.ActionLink("Retour à la Liste", "Index", "FrontVoyages", new { @class = "btn btn-default", @style = "float:right" })
</div>
