@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Nos Voyages";
    
}
<div class="row">
    @foreach (var item in Model)
    {
                <div class="col-md-2" style="margin-top:20px">
                    <div class="card">

                        @if (item.Destination.Images?.Count > 0)
                        {
                            <img src="data:@item.Destination.Images.First().ContentType;base64,@Convert.ToBase64String(item.Destination.Images.First().Content)" alt="sejour de rêve" style="width:100%" />
                        }
                        <h2> @Html.DisplayFor(modelItem => item.Destination.Country) </h2>
                        <h3>  @Html.DisplayFor(modelItem => item.Destination.Region)  </h3>
                        Du  @item.DepartureDate.ToShortDateString() au  @item.ReturnDate.ToShortDateString()
                        <h3>  @Html.DisplayFor(modelItem => item.UnitPublicPrice)  </h3>

                        <button>

                            @Html.ActionLink("En Savoir plus", "Details", new { region = item.Destination.Region, country = item.Destination.Country, id = item.Id }, new { @class="neutral", @data = item.Destination.Country })
                        </button>
                    </div>
                </div>
            
        }
    </div>

