@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Nos Voyages";
    
}

<style>
    .voyages {
        padding: 5px;
        margin: 10px;
        border: solid 1px red;
    }
</style>


<div class="voyages row">
    @foreach (var item in Model)
    {
       
    <div id="voyages" class="col-md-3 alert alert-success" style="margin-bottom:15px">
        <h2> @Html.DisplayFor(modelItem => item.Destination.Country) </h2>
        Du  @item.DepartureDate.ToShortDateString() au  @item.ReturnDate.ToShortDateString()
        <h3>  @Html.DisplayFor(modelItem => item.UnitPublicPrice) </h3>
        <div>
            @Html.ActionLink("Plus d'Infos", "Details", new { id = item.Id }, new { @class = "btn btn-primary", @style = "float:right" , @data = item.Destination.Country })
            @*@Html.ActionLink("Réserver", "Create", "Reservations", new { id = item.Id }, new { @class = "btn btn-primary", @style = "float:right" })*@
        </div>
    </div>


        

    }
</div>
 
