@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<h2>Résultats</h2>

<div class="voyages row">
    @foreach (var item in Model)
    {

        <div id="voyages" class="card col-md-3 alert alert-success" style="margin-bottom:15px">
            <h2> @Html.DisplayFor(modelItem => item.Destination.Country) </h2>
            Du  @item.DepartureDate.ToShortDateString() au  @item.ReturnDate.ToShortDateString()
            <h3>  @Html.DisplayFor(modelItem => item.UnitPublicPrice)  </h3>


            @if (item.Destination.Images?.Count > 0)
            {
                <img src="data:@item.Destination.Images.First().ContentType;base64,@Convert.ToBase64String(item.Destination.Images.First().Content)" class="img-thumbnail" />
            }
            <div>
                @Html.ActionLink("Plus d'Infos", "Details", new { region = item.Destination.Region, country = item.Destination.Country, id = item.Id }, new { @class = "btn btn-primary", @style = "float:right", @data = item.Destination.Country })
                @Html.ActionLink("Réserver", "Create", "Reservations", new { id = item.Id }, new { @class = "btn btn-primary", @style = "float:right" })
            </div>
        </div>




    }
</div>