


@model BoVoyageMVC.Models.Dashboard


@{
    ViewBag.Title = "tableau de bord";
}




<div class="row">
    <div class="col-md-6">
        <h3>Prochains départs</h3>
        <table class="table">
            <tr>

                <th>
                    Destination
             
                </th>
                <th>
                    Date aller
                   
                </th>
               
                <th>
                    Places
                    
                </th>
             
                <th></th>

            </tr>

            @foreach (var item in Model.Voyages)
            {
                <tr>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination.Country)
                        @Html.DisplayFor(modelItem => item.Destination.Region)
                    </td>
                    <td>
                        @item.DepartureDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxCapacity)
                    </td>
                                    
                    <td>
                        <a href="@Url.Action("Edit","Voyages", new { id = item.Id })"><i class="glyphicon glyphicon-edit text-warning"></i></a> |
                        <a href="@Url.Action("Details","Voyages", new { id = item.Id })"><i class="glyphicon glyphicon-search"></i></a> |
                        <a href="@Url.Action("Delete","Voyages", new { id = item.Id })"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-6">
        <h3>Reservations en attente</h3>
        <table class="table">
            <tr>
                <th>
                    Client
                   
                </th>
                <th>
                    Numero de dossier
                   
                </th>                            
                <th>
                    Etat du dossier
                 
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.DossiersReservations)
            {
                if (Convert.ToString(item.EtatDossier) == "EnAttente")
                { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FisrtName)
                        @Html.DisplayFor(modelItem => item.Client.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.EtatDossier)
                    </td>
                    <td>
                       
                        <a href="@Url.Action("Details","DossierReservations", new { id=item.Id })"><i class="glyphicon glyphicon-search"></i></a> 
                        
                    </td>
                </tr>
                }
            }

        </table>
    </div>
</div>

